/* Write your CSS code here */
.logo-card {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.link-style {
  text-decoration: none;
}
.logo-style {
  height: 25px;
  width: 25px;
  margin-top: 16px;
  margin-right: 10px;
}
.image-text-card {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.heading-style {
  color: #551e53;
  font-family: 'Roboto';
  font-size: 20px;
  margin-right: 10px;
}
.options-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
}
